

         .video-info-grid {
            display: grid;
            grid-template-columns: 50px 1fr;
        }

        .thumbnail {
            width: 100%;
            margin-bottom: 4px;
            
        }

        .video-time{
            position: absolute;
            bottom: 11px;
            right: 4px;
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
            font-family: Roboto,Arial;
            font-size: 12px;
            padding: 4px;
        }

        .video-author,
        .video-stats {
            display: block;
            font-size: 12px;
            margin-top: 4px;
            color: rgb(96, 96, 96);
        }

        .video-author {
            margin-bottom: 4px;
        }


        .profile-picture {
            width: 36px;
            border-radius: 36px;
        }

        .video-title {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 10px;
            
        }

        .thumbnail-row {
            margin-bottom: 8px;
            position: relative;
        }

        .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }
    
        @media (max-width: 750px) {
            .video-grid {
                grid-template-columns: 1fr 1fr ;
            }
        }

        @ media (min-width: 751px) and (max-width: 999px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        @media (min-width:1000px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }